{%extends 'layout.njk'%}

{%block content%}
<div id="user-register">
    <h2 class="text-center">Cadastre-se para a nossa Newsletter!</h2>
    <form class="form-group w-50 mx-auto" action="/user" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastre-se</button>
    </form> 
</div>
{%endblock content%}