{%extends 'layout.njk'%}

{%block content%}
<div id="user-register">
    <h2 class="text-center">Faça login para acessar a área restrita</h2>
    <form class="form-group w-50 mx-auto" action="/admin/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        <br>
        <a class="text-decoration-none" href="#">Esqueci minha senha</a> 
    </form>
</div>
{%endblock content%}