#user-register {
    margin: 150px auto;
    width: 50%;
    border: solid 3px rgb(160, 154, 154);
    padding: 10px;
}

#newsletter-form {
    margin: 50px auto;
    width: 90%;
    height: 550px;
    border: solid 3px rgb(160, 154, 154);
    padding: 10px;
}

#text-input {
    height: 350px;
}